## Unique Words in a Sentence
Problem Statement
Given a sentence, identify all unique words and display:
The count of unique words
The unique words themselves
Hint
Split the sentence into individual words.
Convert the list of words into a set to remove duplicates.
Print both the set and its length.
Input
Enter sentence: python is easy and python is powerful

Expected Output
Unique words count: 5  
Unique words: {'python', 'is', 'easy', 'and', 'powerful'}

In [5]:
# sentence as input
statement='python is easy and python is powerful' 
#spilting the sentence to words
list_1=statement.split()
# removing the duplicate by using set
unique_word=set(list_1)
print('Unique words count:',len(unique_word))
print('Unique words:',unique_word)

Unique words count: 5
Unique words: {'easy', 'is', 'powerful', 'python', 'and'}

# Highest Salary from Employee Data
Problem Statement
Store employee names and their salaries, and determine which employee has the highest salary.
Hint
Use a dictionary where the key is the employee name and the value is the salary.
Compare salary values to find the highest.
Input Format
A dictionary where:
Keys represent employee names
Values represent employee salaries
Example Input
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
Expected Output
Highest Salary: Ravi - 75000

In [26]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
#all the salaries to a list
salaries=list(employees.values())
# finding the highest salary 
max_salary=max(salaries)
## looping to the keys and values to find the name of highest salary
for name,salary in employees.items():
    if salary==max_salary:
        print('Highest Salary:',name,'-',salary)

Highest Salary: Ravi - 75000

#  Find Maximum and Minimum Values
Problem Statement
Find the maximum and minimum values from a list of numbers.
Hint
Initialize both maximum and minimum with the first element of the list.
Use a loop to compare each element.
Input Format
A list of integers where each element represents a numeric value.
Example Input
numbers = [45, 22, 89, 10, 66]

Expected Output
List: [45, 22, 89, 10, 66]  
Max: 89  
Min: 10

In [31]:
number=[45,22,89,10,66]
# Intalize minimum value with first element in the list
minimum=number[0]
# Intalize maximum value with first element in the list
maximum=number[0]
# Iterating over the loop and finds min and max values in the list
for i in number:
    if i<minimum:
        minimum=i
    elif i>maximum:
        maximum=i
    else:
        minimum=minimum
        maximum=maximum
print('List:' ,number)
print('Min:' ,minimum)
print('Max:' ,maximum)

List: [45, 22, 89, 10, 66]
Min: 10
Max: 89

# Count Products Above a Price Threshold
Problem Statement
Count how many products have a price greater than 1000.
Hint
Use a loop to compare each price with 1000.
Input Format
A list of integers where each element represents the price of a product.
Example Input
prices = [450, 1200, 899, 1500, 300]

Expected Output
Products above 1000: 2

In [35]:
prices=[450,1200,899,1500,300]
# Taken a zero product are greater than 1000 as intial
count=0
# looping and if greater than 1000 incresed by one
for i in prices:
    if i>1000:
        count+=1
    else:
        count=count
print('Products above 1000:', count)

Products above 1000: 2

# Calculate Attendance Percentage
Problem Statement
Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).
Hint
Count the number of "P" values.
Divide by the total number of days.
Example Input
attendance = ["P", "P", "A", "P", "P"]
Expected Output
Attendance Percentage: 80.0

In [37]:
attendance = ["P", "P", "A", "P", "P"]
count_p=0
# count of P
for i in attendance:
    if i=='P':
        count_p+=1
    else:
        count_p=count_p
# count of p/total number of attendance * 100 coverts into percentage 
print('Attendance Percentage :',count_p/len(attendance)*100)

Attendance Percentage : 80.0

# Remove Duplicate Phone Numbers
Problem Statement
You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.
Hint
Convert the list into a set.
Sets automatically remove duplicate values.
Input Format
A list of integers where each integer represents a phone number.
Example Input
phone_numbers = [9876543210, 9123456789, 9876543210]

Expected Output
Unique phone numbers: {9876543210, 9123456789}

In [39]:
phone_numbers = [9876543210, 9123456789, 9876543210]
# Remove duplicates by using set
unique_ph_no=set(phone_numbers)
print('Unique phone numbers:',unique_ph_no)

Unique phone numbers: {9876543210, 9123456789}

# Count Character Frequency
Problem Statement
Count how many times each character appears in a given string.
Hint
Use a dictionary.
Increment the count for each character occurrence.
Expected Output
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [44]:
string='python'
# create a dictionary
d={}
#looping and increament
for i in string:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

# Convert List to Tuple
Problem Statement
Convert a list into a tuple and display it.
Hint
Use the tuple() function.
Expected Output
Tuple: (10, 20, 30)

In [45]:
lis=[10,20,30]
t=tuple(lis)
print('Tuple:',t)

Tuple: (10, 20, 30)

# Check if a Key Exists in a Dictionary
Problem Statement
Check whether a specific key exists in a dictionary.
Hint
Use the in keyword.
Expected Output
Employee exists

In [50]:
dic={
     "Employee":45000,
     "Manger":67800,
     "HR":68790 
}
key='Employee'
if key in dic:
    print('Employee exists')
else:
    print('Employee not exists')

Employee exists

#  Calculate Average Marks
Problem Statement
Calculate the average marks of a student from a list of marks.
Hint
Calculate the sum of all values.
Divide by the total number of marks.
Expected Output
Average Marks: 72.5

In [70]:
# list of marks
marks=[35,87,68,45,97,78,88]
# calculating the total 
total=0
for i in marks:
    total+=i
print('Average Marks:' ,total/len(marks))

Average Marks: 71.14285714285714